@import "bootstrap.css";
@import "owl.theme.default.css";
@import "owl.carousel.css";


@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


header{
  z-index: 11;
  }
.main_section{
  height: 100vh;
  .h-100{height: 100vh;
  }
  .position-absolute{
    z-index: 10;
  }
}
.main_banner{
  background-image: url("../images/main.jpg");
  background-size: cover;
  height: 100vh;
  z-index: 1;
  &.item_2{background-image: url("../images/baby.jpg")}
  &.item_3{background-image: url("../images/cleaning.jpg")}
  &.item_4{background-image: url("../images/nicetone.jpg")}
}

  .nav-item {
    padding-right: 23px;
    a {
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      overflow:hidden;
          }
  }

.navbar-light {
  .navbar-nav {position: relative;
    @include max-screen(767px){
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
    .nav-link {color: #FFFFFF;
      &.fb img{
        position: absolute;
      top:12px;
        right: 96px;
      }
      &.inst img{
        position: absolute;
        top:12px;
      right: 33px}
          }

  }
}

.navbar-expand-lg {
  .navbar-nav {
     .nav-link {
       }
      span {
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        font-family: '20 Kopeek';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        &.nav-link {
          padding: 7px 23px 7px 33px;
        }
      }
    }
  }
.firm_style{
  padding-top: 68px;
  padding-bottom: 134px;
}
.form_callback{
  .form-check{
    padding-left: 36px;
  }
}
.firm_style{
  h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
    }
}
.logos_and_names{
  padding-bottom: 120px;
  h2{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    padding-bottom: 40px;
  }
  p{
    font-size: 18px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    &.position-relative{
      top: -30px;
      right: 8px;
      font-family: '20 Kopeek Book';
      font-style: normal;
      font-weight: 400;
      font-size: 55px;
      line-height: 100%;
      color: #181818;
    }
    span{
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #181818;
      }
    }
  }
.lifecore{
  padding-bottom: 133px;
  h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
.bg-primary{
  background-color:#2B59C3 !important;
}
}
.look_project{
  padding-bottom: 100px;
  .btn-link{color: black;}
  a {
    padding: 20px 38px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;

    h3 {
      font-family: '20 Kopeek Book';
      font-style: normal;
      font-weight: 400;
      font-size: 55px;
      line-height: 100%;
      color: #181818;
    }

    p {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #181818;
    }
  }}
.show_more{
  padding-bottom: 100px;
  a{
    padding: 20px 38px;
  }
}
.gift{
  padding-bottom:77px;
  .bg-primary {
    background-color:#2B59C3 !important;
  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    }
  span{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
  }
}